body {
	/* font-family: Calibri, Segoe, "Segoe UI", "Gill Sans", "Gill Sans MT", sans-serif; */
}

.card-upload {
	/* border: 1px solid #04a9f5; */
	/* border: 1px solid #ced4da; */
	border-bottom: 1px solid #ced4da;
	padding-bottom: 0.7em;
	/* background-color: #f4f7fa; */
	/* padding: 0.7em; */
	/* border-radius: 4px; */
}

.card-upload > div > img {
	margin-top: 8px;
	/* border: 1px solid #ced4da; */
}

.card-order {
	padding-top: 8%;
	padding-bottom: 4%;
	/* background-color: #000; */
	/* text-align: center; */
}

.badge-primary-2 {
	color: #fff;
	background-color: #04a9f5;
	border-color: #04a9f5;
}

.badge-primary-2:hover {
	color: #fff;
	background-color: #038fcf;
	border-color: #038fcf;
}

.btn-view-detail-user {
	font-size: 13px;
	cursor: pointer;
	margin: 0 !important;
	padding: 1px 3px 1px 3px !important;
}

.btn-delete-modif {
	font-size: 15px;
	cursor: pointer;
	margin: 0 !important;
	padding: 5px 8px 5px 8px !important;
}

.img-upload {
	transition: transform 0.4s;
}

.img-upload:hover {
	transform: scale(1.3);
}

.file-upload {
	width: 60%;
}

.table-new {
	width: 1000px;
	table-layout: fixed;
}

.new-td {
	word-wrap: break-word;
}

/* CSS TOOLTIP COPY */
.tooltip {
	position: relative;
	display: inline-block;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 140px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px;
	position: absolute;
	z-index: 1;
	bottom: 150%;
	left: 50%;
	margin-left: -75px;
	opacity: 0;
	transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}
/* CSS TOOLTIP COPY */

.border{
	border: 1px solid #000;
}

.qr-code{
	border-radius: 10px;
	border: 2px solid #343a40;
}

.btn-facebook{
	background-color:  #3B5998;
	color: #fff;
}
.btn-facebook:hover{
	background-color:  #476094;
	color: #fff;
}
.btn-whatsapp{
	background-color: #25d336;
	color: #fff;
}
.btn-whatsapp:hover{
	background-color: #15b625;
	color: #fff;
}
.btn-telegram{
	background-color: #0088cc;
	color: #fff;
}
.btn-telegram:hover{
	background-color: #2499d3;
	color: #fff;
}

@media only screen and (max-width: 426px) {
	.name-header {
		display: none !important;
	}
	.file-upload {
		width: 100%;
	}
}
