body {
	/* font-family: Calibri, Segoe, "Segoe UI", "Gill Sans", "Gill Sans MT", sans-serif; */
}

.mr-1 {
	margin-right: 1px;
}
.mr-2 {
	margin-right: 2px;
}
.mr-3 {
	margin-right: 3px;
}

.bold {
	font-weight: bold !important;
}

.f-13 {
	font-size: 13px;
}
.middle {
	vertical-align: middle !important;
}
.red {
	color: #f44236;
}
.card-upload {
	/* border: 1px solid #04a9f5; */
	/* border: 1px solid #ced4da; */
	border-bottom: 1px solid #ced4da;
	padding-bottom: 0.7em;
	/* background-color: #f4f7fa; */
	/* padding: 0.7em; */
	/* border-radius: 4px; */
}

.card-upload > div > img {
	margin-top: 8px;
	/* border: 1px solid #ced4da; */
}

.card-order {
	padding-top: 8%;
	padding-bottom: 4%;
	/* background-color: #000; */
	/* text-align: center; */
}

.badge-primary-2 {
	color: #fff;
	background-color: #04a9f5;
	border-color: #04a9f5;
}

.badge-primary-2:hover {
	color: #fff;
	background-color: #038fcf;
	border-color: #038fcf;
}

.btn-view-detail-user {
	font-size: 13px;
	cursor: pointer;
	margin: 0 !important;
	padding: 1px 3px 1px 3px !important;
}

.btn-margin {
	font-size: 13px;
	cursor: pointer;
	margin: 0 !important;
	padding: 1px 3px 1px 3px !important;
}

.btn-delete-modif {
	font-size: 15px;
	cursor: pointer;
	margin: 0 !important;
	padding: 5px 8px 5px 8px !important;
}

.img-upload {
	transition: transform 0.4s;
}

.img-upload:hover {
	transform: scale(1.3);
}

.file-upload {
	width: 60%;
}

.table-new {
	width: 1000px;
	table-layout: fixed;
}

.new-td {
	word-wrap: break-word;
}

/* CSS TOOLTIP COPY */
.tooltip {
	position: relative;
	display: inline-block;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 140px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px;
	position: absolute;
	z-index: 1;
	bottom: 150%;
	left: 50%;
	margin-left: -75px;
	opacity: 0;
	transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}
/* CSS TOOLTIP COPY */

.border {
	border: 1px solid #000;
}

.no-border {
	border: 0 !important;
}

.qr-code {
	border-radius: 10px;
	border: 2px solid #343a40;
}

.btn-facebook {
	background-color: #3b5998;
	color: #fff;
}
.btn-facebook:hover {
	background-color: #476094;
	color: #fff;
}
.btn-whatsapp {
	background-color: #25d336;
	color: #fff;
}
.btn-whatsapp:hover {
	background-color: #15b625;
	color: #fff;
}
.btn-telegram {
	background-color: #0088cc;
	color: #fff;
}
.btn-telegram:hover {
	background-color: #2499d3;
	color: #fff;
}
.btn-instagram {
	background-color: #e1306c;
	color: #fff;
}
.btn-instagram:hover {
	background-color: #c93466;
	color: #fff;
}

.blue {
	color: #04a9f5;
}

.hover:hover {
	color: #04a9f5;
	font-weight: bold;
}

.r-no-margin {
	margin-right: 0 !important;
}

.loader {
	margin: 0 auto;
	text-align: center;
}

.loader-gif {
	position: absolute;
	z-index: 2 !important;
	width: 300px;
}

@media only screen and (max-width: 426px) {
	.name-header {
		display: none !important;
	}
	.file-upload {
		width: 100%;
	}
}

/* SWITCH ON/OFF BUTTON */
.switch {
	position: relative;
	display: inline-block;
	width: 55px;
	height: 25px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #f44236;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 18px;
	width: 18px;
	left: 7.4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input:checked + .slider {
	background-color: #69e175;
}

input:focus + .slider {
	box-shadow: 0 0 1px #69e175;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}
/* SWITCH ON/OFF BUTTON */

.video {
	width: 100% !important;
}
